#parse("xbeamerchart/includes/widget-util.vm")

#deprecated()

#if("$type" == "checkbox")
<input type="hidden" id="XBeamerWidget-${param}-${chartId}">

<script type="text/javascript">
    $('.basicInput > input').change(function(){
        $('#XBeamerWidget-${param}-${chartId}:first').val($(this).is(':checked'));
    });
</script>
#end

<div class="XBeamerWidget" #widgetHelp($this) #widgetStyles($this)>
    #widgetLabel($this)

    <div class="input $type basicInput">
        <input type="$type" id="XBeamerWidget-${param}-${chartId}">
    </div>
</div>