#parse("xbeamerchart/includes/widget-util.vm")

<div class="XBeamer-widget" #widgetHelp($this) #widgetStyles($this)>
    #widgetLabel($this)

    <div class="input color">
        <input type="text" id="XBeamerWidget-${param}-${chartId}" readonly="readonly">
        <a href="#" class="colorPicker yui-skin-sam" id="${param}_${chartId}-colorPicker-icon"
           onclick="colorPicker.showPalette(this, 'XBeamerWidget-${param}-${chartId}', true); return false;">
            <img src="/cb/images/color_swatch.png">
        </a>
    </div>
</div>
