#parse("xbeamerchart/includes/widget-util.vm" )

<div class="XBeamer-widget" #widgetHelp($this) #widgetStyles($this)>
    #widgetLabel($this)

    <div class="select project">
        <select #if($multiple)multiple#end class="with-filter" id="XBeamerWidget-${param}-${chartId}"
                                           #if("$!this.value" != "")value="$this.value"#end
                                           #if("$!this.defaultValue" != "")placeholder="$this.defaultValue"#end>
        #foreach($project in $projects)
            <option value="$project.id">$project.name</option>
        #end
        </select>
    </div>
</div>