#parse("xbeamerchart/includes/widget-util.vm")

<div class="XBeamer-widget" #widgetHelp($this) #widgetStyles($this)>
    #widgetLabel($this)

    <div class="select">
        <select #if($multiple)multiple#end id="XBeamerWidget-${param}-${chartId}"
                                           #if("$!this.value" != "")value="$this.value"#end
                                           #if("$!this.defaultValue" != "")placeholder="$this.defaultValue"#end>
        #foreach($option in $options.keySet())
            <option value="$option">$options.get($option)</option>
        #end
        </select>
    </div>
</div>
