#parse("xbeamerchart/includes/widget-util.vm")

<div class="XBeamer-widget" #widgetHelp($this) #widgetStyles($this)>
    #widgetLabel($this)

    <div class="select tracker">
        <select #if($multiple)multiple#end class="with-filter" id="XBeamerWidget-${param}-${chartId}">
        #foreach($project in $trackers.keySet())
            <optgroup label="$project.name">
            #foreach($tracker in $trackers.get($project))
                <option value="$tracker.id">$tracker.name</option>
            #end
            </optgroup>
        #end
        </select>
    </div>
</div>