#parse("xbeamerchart/includes/widget-util.vm" )

<div class="XBeamer-widget" #widgetHelp($this) #widgetStyles($this)>
    #widgetLabel($this)

    <div class="select user">
        <select #if($multiple)multiple#end class="with-filter" id="XBeamerWidget-${param}-${chartId}"
                                           #if("$!this.value" != "")value="$this.value"#end
                                           #if("$!this.defaultValue" != "")placeholder="$this.defaultValue"#end>
            <option value="$currentUser.id">Me</option>
            <optgroup label="Users">
            #foreach($user in $users)
                #if($user.activated)
                <option value="$user.id">$user.name ($user.email)</option>
                #end
            #end
            </optgroup>
        </select>
    </div>
</div>