#macro(deprecated)
#end

#macro(widgetLabel $widget)
    #if("$!widget.summary" != "")
    <span class="label#if($widget.required) mandatory#else optional#end">$widget.summary</span>
    #end
#end

#macro(widgetHelp $widget)
    #if("$!widget.shortDescription" != "")title="$widget.shortDescription"#end
#end

#macro(widgetStyles $widget)
    #if(!$widget.cssStyles.isEmpty())style="#foreach($cssStyle in $!widget.cssStyles.keySet())$cssStyle: $widget.cssStyles.get($cssStyle);#end"#end
#end

#macro(widgetSelector $param $id)
    #XBeamerWidget-${param}-${chartId}
#end