#parse("xbeamerchart/includes/widget-util.vm")

<div class="XBeamer-widget" #widgetHelp($this) #widgetStyles($this)>
    #widgetLabel($this)

    <div class="$htmlTag basic">
        <$htmlTag id="XBeamerWidget-${param}-${chartId}" #foreach($attr in $attributes.keySet()) $attr="$attributes.get($attr)"#end></$htmlTag>
    </div>
</div>