.XBeamer-plugin{
    .wikichartbox{
        margin: 0;
    }
    
    .content{
        width: inherit;
        height: inherit;
        background: white;
    }
    
    .activityStreamPlugin{
        background: white;
        margin: 0;
    }
}