.XBeamer-plugin{
    .wikichartbox{
        margin: 0;
    }
    
    & > .XBeamer-plugin-content{
        width: inherit;
        height: inherit;
        background: white;
        overflow-y: auto; 
    }
    
    .activityStreamPlugin{
        background: white;
        margin: 0;
    }
}