#set($regacy = "${contextPath}${versionedPath}")
#set($xbeamerchart = "${contextPath}${versionedPath}/xbeamerchart/")

<script type="text/javascript" src="${xbeamerchart}js/jquery.shapeshift.min.js"></script>

<script type="text/javascript" src="${regacy}js/multiAccordion.js"></script>
<script type="text/javascript" src="${regacy}js/multiselectautocomplete/ajaxReferenceFieldAutoComplete.js"></script>

<link rel="stylesheet" href="${regacy}queries/queries.less" type="text/css" media="all" />
<link rel="stylesheet" href="${regacy}queries/queryConditionWidget.less" type="text/css" media="all" />
<script type="text/javascript" src="${regacy}queries/queries.js"></script>
<script type="text/javascript" src="${xbeamerchart}js/queryConditionWidget.js"></script>

<link rel="stylesheet" href="${regacy}stylesheet/colorPicker.less" type="text/css" media="all" />
<script type="text/javascript" src="${regacy}js/colorPicker.js"></script>

<link rel="stylesheet" href="${xbeamerchart}stylesheet/queryTilePlugin.less" type="text/css" media="all" />

## Siedbar
<aside id="XBeamer-sidebar" style="right:-${width}px;">
    #foreach($plugin in $plugins)
    <div class="XBeamer-chart-container" id="XBeamer-plugin-$plugin.pluginName">
        <button>
            <div class="XBeamer-chart-preview">
                <img src="$plugin.imgUrl">
                <div class="XBeamer-chart-name" value="$plugin.pluginName">$plugin.chartName</div>
            </div>
            <div class="XBeamer-chart-description" style="display:none">
                $plugin.chartDescription
            </div>
        </button>
    </div>
    #end
</aside>

<a href="#" class="actionLink XBeamerMenu" id="XBeamer-sidebutton">Add Chart</a>
<a href="#" class="actionLink XBeamerMenu" id="XBeamer-reorder">Reorder</a>

<a href="#" class="actionLink childof-reorder" id="XBeamer-reorder-save">Save</a>
<a href="#" class="actionLink childof-reorder" id="XBeamer-reorder-cancel">Cancel</a>

## Wikipage Contents
<div class="XBeamer-contents">
#foreach($pluginContent in $pluginContents)
    $pluginContent
#end
</div>

<div id="XBeamer-trash-container">
    <div class="XBeamer-trash">
        <div>Drop chart here to remove.</div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        codebeamer.Queries.init();

        $('.XBeamer-chart-container button').mouseover(function(){
            $(this).find('.XBeamer-chart-description').css('display', 'block');
            $(this).find('.XBeamer-chart-preview').css('display', 'none');
        }).mouseout(function(){
            $(this).find('.XBeamer-chart-description').css('display', 'none');
            $(this).find('.XBeamer-chart-preview').css('display', 'block');
        }).click(function(){
            var param = {
                page_id: ${pageId},
                chart_name: $(this).find('.XBeamer-chart-name').attr('value')
            };

            $.ajax({
                url : '${createUrl}',
                type: 'POST',
                data: param,
                success: function(result) {
                    location.reload(true);
                }
            });
        });

        var colapse = true;

        $('#XBeamer-sidebutton').click(function(){
            colapse = !colapse;
            $('#XBeamer-reorder').css('display', colapse ? 'block' : 'none');
            $('#XBeamer-sidebutton').text(colapse ? 'Add Chart' : 'Cancel');
            $('#XBeamer-sidebar').stop().animate({right: colapse ? '-${width}' : '0'}, 200, function(){});
        });

        var ss_config = {
            align: 'left',
            enableDrag: false,
            columns: 10
        };
        $('.XBeamer-contents').shapeshift(ss_config);

        $('#XBeamer-reorder').click(function(){
            $('.XBeamerMenu').each(function(){ $(this).css('display', 'none'); });
            $('.childof-reorder').each(function(){ $(this).css('display', 'block'); });

            ss_config.enableDrag = true;
            $('.XBeamer-contents').shapeshift(ss_config);
            $('.XBeamer-contents').addClass('active-reorder');

            $('#XBeamer-trash-container').css('display', 'block').find('.XBeamer-trash').shapeshift({
                autoHeight: false,
                enableTrash: true,
                colWidth: 1690,
                enableDrag: false
            });
        });

        $('#XBeamer-reorder-save').click(function(){
            var tags = [];

            $('.XBeamer-plugin').each(function(){
                tags.push($(this).attr('id'));
            });

            var param = {
                page_id: ${pageId},
                tags: tags.join(',')
            };

            $.ajax({
                url : '${reorderUrl}',
                type: 'POST',
                data: param,
                success: function(result) {
                    location.reload(true);
                }
            });
        });

        $('#XBeamer-reorder-cancel').click(function(){
            $('.XBeamerMenu').each(function(){ $(this).css('display', 'block'); });
            $('.childof-reorder').each(function(){ $(this).css('display', 'none'); });
            location.reload(true);
        });
    });
</script>

<link rel="stylesheet" href="${xbeamerchart}stylesheet/all.less" type="text/css" media="all" />
<script type="text/javascript" src="${xbeamerchart}js/all.js"></script>

## Styles for itself
<style type="text/css">
    @media screen and (max-width: 640px) {
        #XBeamer-sidebar, #XBeamer-sidebutton {
            display: none;
        }
    }

    #XBeamer-sidebar{
        text-align: center;
        top: 30px;
        margin: 0px;
        width: ${width}px;
        height: 100%;
        position: absolute;
        overflow-y: scroll;
        z-index: 9999;
    }

    #XBeamer-sidebutton{
        position: absolute;
        top: 7px;
        right: 0px;
        text-align: center;
    }

    #XBeamer-reorder{
        position: absolute;
        top: 7px;
        right: 80px;
        text-align: center;
    }

    #XBeamer-reorder-cancel{
        display: none;
        position: absolute;
        top: 7px;
        right: 0px;
        text-align: center;
    }

    #XBeamer-reorder-save{
        display: none;
        position: absolute;
        top: 7px;
        right: 80px;
        text-align: center;
    }

    .XBeamer-chart-container{
        margin: 5px;
    }

    .XBeamer-chart-container button{
        width: 190px;
        height: 150px;
        padding: 0px;
        background-color: Window;
        border: none;
        box-shadow: 1px 1px 5px gray;
        cursor: pointer;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .XBeamer-chart-preview img{
        width: 60%;
    }

    .XBeamer-chart-description{
        text-align: center;
        display: none;
        margin: 10px 5px;
        background-color: Window;
    }

    .actionBar > a{
        margin-right: 0 !important;
    }

    #XBeamer-trash-container {
        display: none;
        position: absolute;
        left: 15px;
        top: auto;
        right: 25px;
        bottom: 20px;
        height: 200px;
    }

    .XBeamer-contents.active-reorder{
        background: rgba(0, 255, 0, 0.3);
    }

    .XBeamer-trash {
        text-align: center;
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px dashed red;
        vertical-align: middle;
        background: rgba(255,0,0,0.3);
    }

    .XBeamer-trash > div{
        font-weight: bold;
        font-size: 24px;
    }

    .XBeamer-plugin .wikichartbox{
        margin: 0;
    }
    
    .XBeamer-plugin > .XBeamer-plugin-content{
        height: inherit;
        overflow-y: auto;
        background: white;
    }

    .XBeamer-plugin .activityStreamPlugin{
        background: white;
        margin: 0px;
    }
</style>