#set($regacy = "${contextPath}${versionedPath}")
#set($xbeamerchart = "${contextPath}${versionedPath}xbeamerchart/")

##########################################################################################################################
## External Resources (Regacy)
##########################################################################################################################
<script type="text/javascript" src="${regacy}js/multiAccordion.js"></script>
<script type="text/javascript" src="${regacy}js/multiselectautocomplete/ajaxReferenceFieldAutoComplete.js"></script>

<link rel="stylesheet" href="${regacy}queries/queries.less" type="text/css" media="all" />
<script type="text/javascript" src="${regacy}queries/queries.js"></script>

<link rel="stylesheet" href="${regacy}queries/queryConditionWidget.less" type="text/css" media="all" />

<link rel="stylesheet" href="${regacy}stylesheet/colorPicker.less" type="text/css" media="all" /> ## 7.9.0 or older
<link rel="stylesheet" href="${regacy}stylesheet/colorPicker.css" type="text/css" media="all" /> ## 7.9.1 or newer
<script type="text/javascript" src="${regacy}js/colorPicker.js"></script>

##########################################################################################################################
## External Resources
##########################################################################################################################
## jQuery.ShapeShift
<script type="text/javascript" src="${xbeamerchart}js/jquery.shapeshift.js"></script>

## HighCharts
<script type="text/javascript" src="${xbeamerchart}js/no-data-to-display.js"></script>

##########################################################################################################################
## Internal Resources
##########################################################################################################################
<link rel="stylesheet" href="${xbeamerchart}stylesheet/XBeamerChartSupport.less" type="text/css" media="all" />

<link rel="stylesheet" href="${xbeamerchart}stylesheet/all.less" type="text/css" media="all" />
<script type="text/javascript" src="${xbeamerchart}js/all.js"></script>

<link rel="stylesheet" href="${xbeamerchart}stylesheet/widget.less" type="text/css" media="all" />

<link rel="stylesheet" href="${xbeamerchart}stylesheet/plugin.less" type="text/css" media="all" />

##########################################################################################################################
## Contents
##########################################################################################################################
<div id="XBeamer-contents-wrapper">
    <div class="XBeamer-contents">
    #foreach($pluginContent in $pluginContents)
        $pluginContent
    #end
    </div>
</div>

<script type="text/javascript">
    var ss_contents_config = {
        align: 'left',
        enableDrag: false,
        columns: 10
    };

    $(function(){
        $('.XBeamer-contents').shapeshift(ss_contents_config);
    });
</script>

##########################################################################################################################
## Trash
##########################################################################################################################
<div id="XBeamer-trash-wrapper" style="display: none">
    <div class="XBeamer-trash">
        <div>Drop chart here to remove.</div>
    </div>
</div>

<script type="text/javascript">
    var ss_trash_config = {
        autoHeight: false,
        enableTrash: true,
        colWidth: 1690,
        enableDrag: false
    };
</script>

##########################################################################################################################
## Sidebar 
##########################################################################################################################
<aside id="XBeamerSidebar" style="width: ${width}px; right: -${width}px;">
#foreach($plugin in $plugins)
    <div class="chart-container">
        <button>
            <div class="chart-preview">
                <img class="chart-thumbnail" src="$plugin.imgUrl">
                <div class="chart-name" value="$plugin.pluginName">$plugin.chartName</div>
            </div>
            <div class="chart-description" style="display:none">$plugin.chartDescription</div>
        </button>
    </div>
#end
</aside>

<script type="text/javascript">
    $(function(){
        $('.chart-container > button').mouseover(function(){
            $(this).children().toggle();
        }).mouseout(function(){
            $(this).children().toggle();
        }).click(function(){
            var param = {
                page_id: ${pageId},
                chart_name: $(this).find('.chart-name').attr('value')
            };

            $.ajax({
                url : '${createUrl}',
                type: 'POST',
                data: param,
                success: function(result) {
                    location.reload();
                }
            });
        });
    });
</script>

##########################################################################################################################
## Menu
##########################################################################################################################
<a href="#" class="actionLink XBeamer-menu pos1" id="XBeamerAction-add">Add Chart</a>
<a href="#" class="actionLink XBeamer-menu pos2" id="XBeamerAction-relocation">Relocation Mode</a>
<a href="#" class="actionLink XBeamer-submenu pos2" id="XBeamerAction-save" style="display:none">Save</a>
<a href="#" class="actionLink XBeamer-submenu pos1" id="XBeamerAction-cancel" style="display:none">Cancel</a>

<script type="text/javascript">
    $(function(){
        var colapsed = true;
        $('#XBeamerAction-add').click(function(){
            if(colapsed = !colapsed){
                $(this).text('Add Chart');
                $('#XBeamerAction-relocation').show();
                $('#XBeamerSidebar').stop().animate({right: '-${width}'}, 200);
            }else{
                $(this).text('Cancel');
                $('#XBeamerAction-relocation').hide();
                $('#XBeamerSidebar').stop().animate({right: '0'}, 200);
            }
        });
        
        $('#XBeamerAction-relocation').click(function(){
            $('.XBeamer-menu').hide();
            $('.XBeamer-submenu').show();
        
            ss_contents_config.enableDrag = true;
            $('.XBeamer-contents').shapeshift(ss_contents_config).addClass('active-relocation');
            $('.XBeamer-trash').shapeshift(ss_trash_config).parent().show();
        });
        
        $('#XBeamerAction-save').click(function(){
            var tags = [];

            $('.XBeamer-plugin').each(function(){
                tags.push($(this).attr('id'));
            });

            var param = {
                page_id: ${pageId},
                tags: tags.join(',')
            };

            $.ajax({
                url : '${reorderUrl}',
                type: 'POST',
                data: param,
                success: function(result) {
                    location.reload();
                }
            });
        });

        $('#XBeamerAction-cancel').click(function(){
            location.reload();
        });
    });
</script>